

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Body</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.category.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body  %></td>
        <td><%= post.user.nickname  %></td>
        <td><%= link_to 'Show', post , class: 'button is-link is-outlined' %></td>
        <td><%= link_to 'Edit', edit_post_path(post), class: 'button is-link is-outlined' %></td>
        <td><%= link_to 'Delete', post, class: 'button is-link is-outlined', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: 'button is-success' %>
