<% if notice %>
  <div class="notification is-danger">
    <button class="delete"></button>
      <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h1 class="has-text-success">New Post</h1>

<%= render 'form', post: @result[:model] %>

<%= link_to 'Back', posts_path , class:'button is-link'%>
