

<p>
  <strong>Category:</strong>

  <%= @post.category.name %>
</p>

<p>
  <strong>Title:</strong>

  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @post.user.nickname %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
